<p id="notice"><%= notice %></p>

<h1>Listing Photo Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_posts.each do |photo_post| %>
      <tr>
        <td><%= photo_post.title %></td>
        <td><%= photo_post.description %></td>
        <td><%= link_to 'Show', photo_post %></td>
        <td><%= link_to 'Edit', edit_photo_post_path(photo_post) %></td>
        <td><%= link_to 'Destroy', photo_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo post', new_photo_post_path %>
