<% @photo_posts.each do |photo_post| %>

    <div>
      <div><%= photo_post.title %></div>
      <div><%= photo_post.description %></div>
      <a href="<%= photo_post_path(photo_post.id) %>">
        <div><%= image_tag photo_post.image.url %></div>
      </a>
    </div>

<% end %>
<%= will_paginate @photo_posts, renderer: BootstrapPagination::Rails %>
