
<p>
  <strong>Title:</strong>
  <%= @photo_post.title %>
</p>

<%= image_tag @photo_post.image.url %>
<p>
  <strong>Tags:</strong>
  <%= @photo_post.tag_list %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo_post.description %>
</p>

<%= link_to 'Edit', edit_photo_post_path(@photo_post) %> |
<%= link_to 'Back', photo_posts_path %>
